<div class="page-header">
    <h1>All Volunteers</h1>
</div>

<div class="btn btn-success">
    <%= link_to "Create a New Volunteer", new_volunteer_path %>
</div>

<% @volunteers.each do |volunteer| %>
<div class="volunteer">
    <strong><u><%= volunteer.name %></u></strong>
    <p><strong>Address: </strong><%= volunteer.address %></p>
    <p><strong>County: </strong><%= volunteer.county %></p>
    <p><strong>Phone: </strong><%= volunteer.phone %></p>
    <p><strong>Email: </strong><%= volunteer.email %></p>
    <p><strong>Availability: </strong><%= volunteer.hours + " hours" %></p>
    <div class="meta">
        <em>Entry created: <%= time_tag(volunteer.created_at) %></em>
        <span class="admin">
            | <%= link_to "Edit", edit_volunteer_path(volunteer) %> |
            <%= link_to "Delete", volunteer, method: :delete, data: { confirm: "Don't you dare!"} %>
            | <%= link_to "Assign voters"%>
        </span>
    </div>
</div>
<% end %>